* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ecfffb;
}

#main {
    margin: 0 auto;
    width: 960px;
}

#calculator {
    width: 40%;
    background-color: #bdbdbd;
    margin: 0 auto;
    transform: translate(0,30%);
    padding: 10px;
    overflow: hidden;
}

#display {
    border: 1px solid#000;
    font-size: 1.3em;
    background-color: #d8d8d8;
    padding:10px 5px ;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn {
    color: #fff;
    background-color: #414141;
    text-align: center;
    border: 1px solid#bdbdbd;
    border-radius: 15px;
    float: left;
    width: 23.5%;
    margin: 2px;
    height: 50px;
    padding: 10px 5px;
    box-shadow: 1px 2px 2px #000;
    font-size: 1.3em;
    cursor: pointer;
    user-select: none;
}


.btn:hover {
    background-color: #5e5e5e;
}

.btn:active{
    box-shadow: 1px 1px 5px #000 inset;
    padding: 9px;
}